<div id="betsy" class="special-betsy">
        <div class="content-special-betsy">
            <div class="content-inner-special-betsy">
                <h3>Elizabeth Kalman</h3>
                <hr />
                <div class="content-body">
                    <p>Betsy Kalman has more than 25 years of experience in homebuilding, remodeling, and historic renovation.  She founded Kalman Construction with her husband Kevin on Nantucket Island in 1987.  World-class architects and interior designers provided the training she needed to build and remodel summer houses on the windswept island.</p>

<p>The Kalman’s fell in love with Charleston while vacationing in the lowcountry.  They relocated Kalman Construction to Charleston in 1996 and continued to build and remodel homes along the coast, from Kiawah Island to Awendaw.</p>

<p>Betsy turned her focus to collaboration with Home Magazine, building award-winning show houses in Mt. Pleasant and Daniel Island, beginning with the construction of the Lifespan House in I’On that was filmed as a 13-episode televised show for Home Again with Bob Vila.</p>

<p>Many of her projects have been featured in magazines such as Better Homes and Gardens, Architectural Digest, House Beautiful, Southern Living, and Luxury Home Magazine.</p>

<p>Betsy has been the recipient of many awards, including the Best in America Living Award from Professional Builder for the Island Heritage Home in 2004, The Builder’s Choice Grand Award from Builder Magazine for the Graham Gund residence in 1998, and Home Magazine’s American Home of the Year in 2003, 2004, and 2006.  She’s also won many PRISM awards from the Charleston Trident Home Builder’s Association.</p>

<p>During the decline in the housing market she turned her passion for design to the fashion industry where she worked as a personal shopper at Talbot’s and as a Wardrobe Specialist at St. John Knits.</p>

<p>Now Betsy has returned to her first love in home building as the Proprietor of The Summer House, where she will offer custom enhancement to transform your home
</p>
                </div>
            </div>
        </div>
        <a class="whitelink" ng-click="scrollTo('helen')">&#x25BE;</a>
    </div>
<div id="helen" class="special">
        <div class="content-special">
            <div class="content-inner-special">
                <h3>Helen Vereen Crowe</h3>
                <hr />
                <div class="content-body">
                    <p>Helen Vereen Crowe has more than 15 years of experience in the interior design business.  She co-owned an interior design business in Camden, SC before moving to Charleston in 2005.</p>
                        <p>Her projects have been diverse, from the restoration of an historical family residence in Cheraw, SC, to the design of a church kitchen.  Most recently she renovated a 50-year-old beach house in Pawleys Island.  Building a great relationship between the designer and the homeowner is essential to every project.  The homeowner has a vision for their completed space and it’s up to the designer to help them achieve that vision while staying within their budget.  Helen finds her most rewarding work is to help choose the perfect paint colors and to purchase and place furnishings to delight her clients. Helen has maintained many clients as friends who continue to turn to her for design assistance.</p>

<p>The relationship between the contractor, her team, and the homeowner is equally important, and Helen is very excited about her new role with The Summer House.</p>
                </div>
            </div>
        </div>
        <a class="whitelink" ng-click="scrollTo('footer')">&#x25BE;</a>
    </div>