<div class="homepage-hero-module" id="top">
        
        <div class="video-container">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth">
                <source src="/img/MP4/Sail-Away.mp4" type="video/mp4" />Your browser does not support the video tag.
                <source src="/img/WEBM/Sail-Away.webm" type="video/webm" />
            </video>
            <div class="poster hidden">
                <img src="/img/Snapshots/Sail-Away.jpg" alt="Summerhouse Sail Away Background">
            </div>
            <div class="col-xs-12 pad-50">
                <img class="logo-sh" src="img/logo-sh-white.png" alt="The Summer House Logo" />
            </div>
            <div class="col-xs-12">
                <div class="green">
                    <h3>Custom enhancements to transform your home.</h3>
                    <br />
                    <p><a ng-click="scrollTo('surfaces')">Hard Surfaces</a>&nbsp;&mdash;&nbsp;
                        <a ng-click="scrollTo('cabinets')">Cabinetry</a>&nbsp;&mdash;&nbsp;
                        <a ng-click="scrollTo('closets')">Custom Closet Systems</a>&nbsp;&mdash;&nbsp;
                        <a ng-click="scrollTo('solar')">Solar Panels</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div id="surfaces" class="text-center mobile-movement">
        <div class="content">
            <div class="content-inner">
                <h3>Hard Surfaces</h3>
                <hr />
                <div class="content-body">
                    <p>We offer granite from around the world, as well as from quarries in Georgia, New York, and the Mid-West.  Beautiful and practical, granite can be used for far more than counter tops. Seamless granite is stunning in showers surrounds, or installed around a fireplace.  We can help you select just the right piece to make an island or a bar top a work of art.</p>

<p>Edge profiles can add the perfect finish.  Along with the standard edge profiles, we can shape the edges with a beveled or ogee profile.  Other hard surface options include quartz, marble, and Cesar Stone.</p>

<p>Every kitchen, bathroom, and bar needs a sink.  We have porcelain undermount sinks, stainless steel, copper, and bronze—and farmhouse sinks in porcelain and stainless steel.</p>
                </div>
            </div>
        </div>
        <a class="whitelink" ng-click="scrollTo('cabinets')">&#x25BE;</a>
    </div>

    <div id="cabinets" class="text-center mobile-movement">
        <div class="content">
            <div class="content-inner">
                <h3>Cabinets</h3>
                <hr />
                <div class="content-body">
                    <p>Our custom-designed cabinets can be ordered, installed, and finished within 10 days. Not only are they a staple of a beautiful and function kitchen, our cabinets will transform a simple bathroom vanity.</p>
                    <p>Other applications include:</p>
                    <ul>
                        <li>Entertainment Centers</li>
                        <li>Home Offices</li>
                        <li>Built-in storage for living rooms, dining rooms, and play rooms</li>
                        <li>How about a window seat from which to watch the world go by? </li>
                        <li>Entertainment Centers</li>
                    </ul>
                    <p>Constructed completely with wood—no particleboard—our cabinets have solid hardwood face frames, doors, and drawer fronts in either cherry or maple. The boxes are built with clear finished plywood. They all feature self-closing undermount drawer glides and soft-close hinges on the doors. There are optional storage solutions. You can choose from 15 door styles and 15 different finish options are available!</p>
                </div>
            </div>
        </div>
        <a class="whitelink" ng-click="scrollTo('closets')">&#x25BE;</a>
    </div>

    <div id="closets" class="text-center mobile-movement">
        <div class="content">
            <div class="content-inner">
                <h3>Closet Systems</h3>
                <hr />
                <div class="content-body">
                    <p>We offer sleek solutions to simplify your life.  Your wardrobe is fabulous.  Now let us redesign your closet to help you store everything with care.</p>
                    <p>First we measure your space and discuss your various storage needs. Need a locked jewelry drawer?  We can do it!  How about shelves for your sweaters, racks for ties and belts, and hanging rails at various heights?  Could roll-out baskets help your kids to clean up their rooms?  We can do all of it, and more.</p>
                    <p>We’ll send a design for you to look at and adjust as necessary.  After you approve the design, we’ll have your closet ready to install in five days. Imagine your closets refitted, from consultation to completion in <em>about a week!</em></p>
                </div>
            </div>
        </div>
        <a class="whitelink" ng-click="scrollTo('solar')">&#x25BE;</a>
    </div>

    <div id="solar" class="text-center">
        <div class="content">
            <div class="content-inner">
                <h3>Solar Panels</h3>
                <hr />
                <div class="content-body">
                    <p>For your financial future and the future of the planet.  We are the local experts for installed solar panels.  Maintenance-free solar panels have a lifespan of 30 years or more.</p>
                    <p>Every solar panel we install brings us a step closer to the elimination of our dependence on fossil fuels.</p>

<p>The equation you need to know: <em>Energy Independence = Financial Independence</em></p>
                </div>
            </div>
        </div>
        <a class="whitelink" ng-click="scrollTo('footer')">&#x25BE;</a>
    </div>